.MonthlySale-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

 h1 {
    top: 10%;
    text-align: center;
    width: 100%;
    position: absolute;
}

.monthly-calendar{
    padding: 20px;
    text-align: center;
}

.monthlySale-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #000; /* Optional border for the chart */
    width: 80%;
    background-color: #fff;
    height: 100%;
}

.monthlySaleTotal h3 {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-size: 3em;
}

canvas {
    max-width: 100%; /* Ensure the canvas is responsive */
    height: auto; /* Maintain aspect ratio */
    margin: 0 100px;
  }
  