.MonthlySale-container{
    position: relative;
    justify-content: center;
    align-items: center;
}

.MonthlySale-container h1 {
    text-align: center;
    width: 100%;
    position:relative;
}

.monthly-calendar{
    padding: 20px;
    text-align: center;
}

.monthlySale-chart {
    align-items: center;
    padding: 40px;
    border: 1px;
    width: 100%;
    background-color: #ff93ac;
}

.monthlySaleTotal h3 {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
