
h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
}

#login-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.container{
  display: inline-block;
  width: 50%;
  height: auto;
  padding: 5% 5%;
  border-radius: 20px;
}

#left-container{
  background-color: var(--primary);
  width: 420px;
}

label{
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 5rem;
}

input[type=text], input[type=password]{
  width: 90%;
  display: flex;
  padding: 14px 9px;
  justify-content: center;
  margin: 1rem 0%;
  border: 0.1rem solid #f7b4a7;
  background-color: #f9d4d4;
  border-radius: 18px;
}

input[type=text]::placeholder, input[type=password]::placeholder{
  color: #737373;
  font-size: 1rem;
}

#left-container a{
  color: #000000;
  font-size: 0.75rem;
  display: block;
}

#left-btn{
  margin-top: 2rem;
}

.btn-signin{
  background-color: #ff5f5f;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  border: 0;
  border-radius: 18px;
  margin-top: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

#btn-login{
  background-color: var(--accent);
  font-size: .75rem;
}