:root {
  --text: #050506;
  --background: #ffffff;
  --primary: #ff93ac;
  --secondary: #f9d4d4;
  --accent: #6262d1;
  --button: #ff5f5f;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary);
  font-family: 'Arial', sans-serif;
  color: var(--text);
}

#signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

#left-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  text-align: center;
  color: var(--accent);
  margin-bottom: 20px;
}

label {
  font-size: 0.9em;
  margin-bottom: 5px;
  display: block;
  color: var(--text);
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 0.9em;
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--text);
}

input:focus {
  outline: none;
  border-color: var(--accent);
}

button.btn {
  background-color: var(--button);
  color: var(--background);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
}

button.btn a{
  text-decoration: none;
  color: inherit;
}

button.btn:hover {
  background-color: var(--accent);
}

button.btn-signup {
  background-color: transparent;
  margin-top: 10px;
  text-align: center;
}

button.btn-signup a {
  font-weight: bold;
  color: var(--accent);
  text-decoration: none;
}

button.btn-signup a:hover {
  text-decoration: none;
}