.container{
  background-color: #ff93ac;
  height: 5%;
}

#top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; 
}

#reset-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5% 5%;
  background-color: green;
}

#reset-container-container{
  width: 40%;
  height: auto;
}


label{
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}


