@font-face {
  src: url(/fonts/Roboto-Regular.ttf);
  font-family: Roboto-Regular;
}
@font-face {
  src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
  font-family: OpenSans;
}
:root{
  --text: #050506;
--background: #ffffff;
--primary: #ff93ac;
--secondary: #f9d4d4;
--accent: #6262d1;
}

body{
  font-family: 'Poppins', OpenSans, Roboto-Regular ;
  margin: 0;
  width: 100vw;
  height: 100vh;
}