body {
  overflow-x: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

/* Header container - Flex for aligning h1 and date */
.header-container {
  display: flex;
  justify-content: space-between; /* Space between h1 and date */
  align-items: center;
  background-color: #ffb6c1; /* Background color */
  border-radius: 16px 16px 0 0;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0 15px 15px;
}

.header-container h1 {
  margin: 0;
  font-size: 1.5em; /* Adjust font size */
  text-align: center;
}

.daily-date {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  gap: 10px; 
  padding-left: 35px;
}

.daily-date label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.daily-date input[type="date"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px; /* Rounded corners for a modern look */
  font-size: 1rem;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
  outline: none;
  transition: border-color 0.3s ease;
}

.daily-date input[type="date"]:focus {
  border-color: #fff; /* Highlight border on focus */
}

/* Daily Sale Container */
.dailySale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150%;
}

/* Daily Sale Chart Section */
.dailySale-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 100%;
  height: 150%;
}

/* Daily Sale Total */
.dailySaleTotal {
  background-color: #ffb6c1; /* Pink background for the total */
  text-align: center;
  width: 100%;
  border-radius:  0 0 16px 16px;
  padding: 15px;
}

.dailySaleTotal h3 {
  text-align: center;
  width: 100%;
  font-size: 2em;
}

/* Canvas Styling */
canvas {
  max-width: 100%;
  height: auto;
  margin: 0 100px;
}

/* Media Queries */
@media (max-width: 1024px) {
  h1 {
      font-size: 1.8em;
  }
  .daily-date {
      font-size: 1.3em;
  }
  .dailySaleTotal h3 {
      font-size: 2.5em;
  }
  .dailySale-chart {
      width: 90%;
  }
  canvas {
      margin: 0 50px;
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: 1.5em;
  }
  .daily-date {
      font-size: 1.1em;
  }
  .dailySaleTotal h3 {
      font-size: 2em;
  }
  .dailySale-chart {
      width: 100%;
      padding: 5px;
  }
  canvas {
      margin: 0 20px;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.2em;
  }
  .daily-date {
      font-size: 1em;
  }
  .dailySaleTotal h3 {
      font-size: 1.5em;
  }
  .dailySale-chart {
      width: 100%;
      padding: 5px;
  }
  canvas {
      margin: 0 10px;
  }
}
