.daily-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

h1 {
  text-align: center;
  width: 100%;
  position: absolute;
}

.daily-calendar {
  padding: 20px;
  text-align: center;
}

.daily-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  border: 1px solid #000; /* Optional border for the chart */
  width: 80%;
  background-color: #ff93ac;
  height: 70vh;
}

.dailySaleTotal h3 {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  font-size: 3em;
}

canvas {
  max-width: 100%; /* Ensure the canvas is responsive */
  height: auto; /* Maintain aspect ratio */
  margin: 0 100px;
}
