:root {
    --text: #042A2B;
    --background: #EAF7F5;
    --primary: #98DBC6;
    --secondary: #5BC8AC;
    --accent: #053F5E;
    --button: #379683;
    --dark-bg: #111;
    --hover-color: #f1f1f1;
    --logout-color: #e74c3c;
    --logout-hover-color: white;
    --hover-border: #f1f1f1;
}

  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      color: var(--text);
      background: radial-gradient(circle, var(--background), var(--button));
    }
  .container {
      display: flex;
      flex-direction: row;
      height: 100%;
      padding-top: 30px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.pos-text {
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text, #fff);  /* Adjust color to match your theme */
  }

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
}

/* Styling for the username h1 element */
#username {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}


.header-center {
    justify-content: center;
}

.header-right {
    justify-content: flex-end;
    margin-right: 30px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.search-bar {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.header-placeholder {
    color: var(--background);
    font-size: 16px;
}

  
  .sidebar-toggle {
    font-size: 30px;
    cursor: pointer;
    color: var(--background);
    width: 0;
  }
  
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 58px;
    left: 0;
    background-color: var(--button);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text);
    display: block;
    transition: color 0.3s, padding-left 0.3s;
}

/* Hover effect for sidebar links */
.sidebar a:hover {
    color: var(--hover-color);
    padding-left: 40px; /* Add space when hovered */
    border-bottom: 2px solid var(--hover-border); /* Underline on hover */
    transition: padding-left 0.3s, border-bottom 0.3s;
}

/* Specific styling for logout */
.sidebar a.logout {
    color: var(--logout-color); /* Red-ish color for logout */
}

.sidebar a.logout:hover {
    color: var(--logout-hover-color); /* Change to white on hover */
    border-bottom: 2px solid var(--logout-color); /* Underline with red color */
}

/* Close button */
.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: var(--hover-color);
    background-color: transparent;
    border: none;
}

/* Sidebar menu items */
ul#sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* When the sidebar is open */
.sidebar.open {
    width: 250px;
}

/* Add smooth transition to the sidebar when opening/closing */
.sidebar {
    transition: width 0.5s ease;
}

/* Sidebar active state */
.sidebar.open a {
    color: var(--hover-color);
}

  .section {
      flex: 1;
      padding: 10px;
      overflow-y: auto;
      border-right: 1px solid var(--secondary);
  }
  .section:last-child {
      border-right: none;
  }
  .section.bill {
      flex: 0.5; 
      background-color: var(--secondary);
  }
  h2 {
      text-align: center;
      margin-bottom: 20px;
      color: var(--accent);
  }
  .categories {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.categories h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: var(--accent);
}

.categories button {
    display: inline-block;
    width: 90%; 
    margin: 10px auto;
    padding: 12px;
    font-size: 1em;
    font-weight: bold;
    color: var(--background);
    background-color: var(--button);
    border: none;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.categories button:hover {
    background-color: var(--accent);
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.categories a {
    text-decoration: none;
}

.section.categories {
    flex: 0.25; 
    max-width: 300px;
    margin: 0 auto;
}
.items {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding-top: 20px;
}

.card {
    width: 30%; /* Default: 3 cards per row */
    height: 350px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    align-items: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background);
    flex-grow: 1;
    box-sizing: border-box;
    height: calc(100% - 180px);
}

.card-content h4 {
    font-size: 1.3em;
    color: var(--text);
    font-weight: bold;
    margin: 2px 0;
}

.card-content p {
    font-size: 1.1em;
    color: var(--text);
    margin: 1px 0; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--primary);
}

.card-content p span {
    font-weight: bold;
    color: var(--accent);
}

/* Media Queries */
@media (max-width: 1024px) {
    .card {
        width: 45%; /* 2 cards per row for medium screens */
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%; /* 1 card per row for smaller screens */
    }
}

.bill {
    padding: 15px;
    background-color: var(--secondary);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#subtotal-view, #amount-paid, #invoice-info {
    margin-bottom: 20px;
}

#amount-paid {
    width: 94%;
    margin: 10px 0;
}

#amount-paid label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#customer-payment {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
}

#customer-payment::placeholder {
    color: #999;
    font-style: italic;
}

.header-placeholder {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}

.header-placeholder img {
    max-width: 80px; 
    max-height: 40px; 
    object-fit: contain;
}

#customer-payment:focus {
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #fff;
}

.qty-actions {
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%; 
    padding: 0; 
    vertical-align: middle; 
    box-sizing: border-box; 
}

.qty-actions button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    height: auto; 
    transition: background-color 0.3s ease;
}

.qty-actions button:hover {
    background-color: #0056b3;
}

.qty-actions .qty {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 10px;
    min-width: 20px;
    text-align: center;
    line-height: normal; 
}


#pay-button {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background-color: green;
    color: var(--background);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pay-button:hover {
    background-color: var(--accent);
}

#invoice-info p {
    font-size: 14px;
    margin: 5px 0;
}

.bill table {
    width: 100%;
    border-collapse: collapse;
}

.bill table th, .bill table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center; 
    vertical-align: middle;
    height: 50px; 
    box-sizing: border-box; 
}


.bill table th {
    background-color: var(--primary);
    color: var(--background);
}

.bill table td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.bill table td button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
}

#grand-total-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sub-total-label {
    font-size: 1.2em;
}

#grand-total-container {
    display: flex;
    align-items: baseline;
}

#grand-total {
    font-size: 4em;
    margin-right: 0.1em;
}

#grand-total-dec {
    font-size: 3.5em;
    margin-left: 0.1em;
}


  #checkout-button {
      margin-top: 10px;
      width: 100%;
      padding: 10px;
      background-color: green;
      color: var(--background);
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  #checkout-button:hover {
      background-color: var(--accent);
  }